[submodule "CMPG-323-IOT-Device-Management"]
	path = CMPG-323-IOT-Device-Management
	url = https://github.com/SennaOmphemetse/CMPG-323-IOT-Device-Management.git
[submodule "CMPG_323_Project_3_32263988"]
	path = CMPG_323_Project_3_32263988
	url = https://github.com/SennaOmphemetse/CMPG-323-IOT-Device-Management.git
